.elementor-sidebar {
  margin-left: 20px;
}

.home h1.elementor-heading-title {
  font-size: 41px;
  font-weight: 900;
  line-height: 1.366;
}
.home h2.elementor-heading-title {
  font-size: 31px;
  font-weight: 900;
  line-height: 1.355;
}
.home h3.elementor-heading-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.333;
}

.elementor-posts--skin-cards .grid-50,
.elementor-posts--skin-cards .grid-100 {
  float: none;
  width: inherit;
}

.elementor-posts--skin-cards .grid-50:before,
.elementor-posts--skin-cards .grid-100:before {
  content: "";
}

@media (max-width: 600px) {
  .home h1.elementor-heading-title {
    font-size: 42px;
  }
  .home h2.elementor-heading-title {
    font-size: 28px;
  }
}

.post.elementor {
  margin-bottom: 0;
}

.elementor-section-wrap section.elementor-section:not(:first-child) {
  padding-bottom: 36px;
  padding-top: 54px;
}

.elementor-widget-archive-posts .elementor-post__meta-data {
  font-family: "Nunito Sans";
  font-size: 0.8em;
}

.elementor-sidebar ul {
  list-style: none;
  margin-left: 0;
}

.elementor-sidebar li li {
  margin-left: 1em;
}

.elementor-sidebar .searchandfilter li {
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}

.elementor-sidebar .searchandfilter > div > ul > li:last-child {
  text-align: center;
}

.elementor-sidebar .searchandfilter li input[type="text"] {
  padding-left: 10px;
  padding-right: 10px;
}

.elementor-sidebar .searchandfilter li input[type="submit"] {
  margin-top: 2em;
}

.contact
  .elementor-column-gap-default
  > .elementor-row
  > .elementor-column
  > .elementor-element-populated {
  padding: 0;
}

/* Post content*/
.elementor .elementor-section-wrap section.elementor-section.post-content {
  padding-top: 0;
  padding-bottom: 1em;
}

/* shaded section */
.elementor .elementor-section-wrap section.elementor-section.shaded {
  background-color: #f6f6f6;
}

/* Slim section */
.elementor .elementor-section-wrap section.elementor-section.slim-section {
  padding-bottom: 0;
  padding-top: 2em;
}
.slim-section .elementor-widget-container > h2 {
  text-align: center;
}
.slim-section .site-main .generate-columns-container:not(.masonry-container) {
  column-gap: 2rem;
}
.separate-containers .slim-section .generate-columns-container .inside-article {
  background-color: transparent;
}
.slim-section .generate-columns-container .inside-article .entry-header,
.slim-section .generate-columns-container .inside-article .entry-summary,
.slim-section .generate-columns-container .inside-article .entry-meta {
  padding: 0;
}
.slim-section .generate-columns-container .inside-article,
.slim-section .generate-columns-container .post {
  margin-bottom: 0;
}
.elementor-shortcode .dashicons {
  font-size: 0;
  border: 2px solid #1995a7;
  display: inline-block;
  width: auto;
  height: auto;
  padding: 5px;
  border-radius: 3px;
}
.elementor-shortcode .dashicons:hover {
  background-color: #1995a7;
  color: white;
  text-decoration: none;
}
.elementor-shortcode .dashicons:before {
  font-size: 2rem;
  display: block;
  height: 1em;
  width: 1em;
}
.elementor-post-info__terms-list {
  font-size: 0;
}
.elementor-icon-list-items .elementor-icon-list-item .elementor-icon-list-text a.elementor-post-info__terms-list-item {
  background-color: var( --e-global-color-accent );
  font-size: 18px;
  padding: 15px 30px;
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  background-color: #f29383;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  fill: #fff;
  text-align: center;
  text-transform: none;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.elementor-post-footer .elementor-icon-list-items .elementor-icon-list-item .elementor-icon-list-text a.elementor-post-info__terms-list-item,
.home .elementor-icon-list-items .elementor-icon-list-item .elementor-icon-list-text a.elementor-post-info__terms-list-item {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding: 0 20px;
  font-weight: normal;
  text-transform: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-right: 1em;
  line-height: 22px;
  font-size: 15px;
}
.elementor-col-33 .elementor-icon-list-items .elementor-icon-list-item .elementor-icon-list-text a.elementor-post-info__terms-list-item {
  background-color: transparent;
  color: #7f7f7f;
  display: inline-block;
  padding: 0;
  font-weight: normal;
  text-transform: none;
  margin-right: 2em;
  line-height: 1.2;
  font-size: 12px;
}
.elementor-col-33 .elementor-widget.elementor-widget-heading {
  margin-bottom: 5px;
}
.elementor-col-33 .ecs-posts .elementor-widget-heading {
  margin-bottom: 0;
}
.elementor-col-33 .ecs-posts .elementor-col-100>.elementor-column-wrap.elementor-element-populated {
  padding: 10px 0;
}
.elementor-col-33 .ecs-post-loop {
  border-bottom: 1px solid #d2d2d2;
}
.elementor-col-33 .ecs-posts.elementor-grid {
  row-gap: 10px;
  margin-bottom: 40px;
}
.elementor-col-33 .elementor-shortcode li a {
  color: #000000;
}
.elementor-section.section-hero {
  margin-bottom: 200px;
  min-height: 656px;
}
.elementor-section.section-hero .elementor-widget-text-editor {
  color: #000000;
  background-color:rgba(247,247,247, 0.75)
}
.elementor-section.section-hero .elementor-cta--skin-classic {
  position: absolute;
  bottom: -440px;
}
.elementor-section.section-hero .elementor-cta--skin-classic .elementor-cta__content {
  background-color: rgba(40, 40, 40, 0.89);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 180px;
  grid-template-rows: 1fr 1fr;
  max-width: 830px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}
.elementor-section.section-hero .elementor-cta--skin-classic .elementor-cta__content .elementor-cta__title {
  font-size: 22px;
  grid-column-end: span 2;
  margin-bottom: 0;
  text-align: left;
}
.elementor-section.section-hero .elementor-cta--skin-classic .elementor-cta__content .elementor-cta__description {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 0;
  text-align: left;
}
.elementor-section.highlight-green {
  background-color: #1995a7;
}
.elementor-section.highlight-green .elementor-widget-text-editor,
.elementor-section.highlight-green .elementor-heading-title {
  color: #ffffff;
}
.elementor-section.highlight-green .elementor-button-wrapper .elementor-button.elementor-button-link {
  background-color: #000000;
  border-color: #000000;
}
.elementor-section.highlight-green .elementor-button-wrapper .elementor-button.elementor-button-link:hover {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #1995a7;
}
.elementor-section.highlight-white {
  background-color: #ffffff;
}
.site-main .elementor-widget-posts .ecs-post-loop {
  border: 1px solid #dcdcdc;
  border-radius: 5px;
}
.site-main .elementor-widget-posts .ecs-post-loop .elementor-image {
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  height: 199px;
  overflow: hidden;
}
.site-main .elementor-widget-posts .elementor-widget-image.post-author-default a {
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.site-main .elementor-widget-posts .elementor-widget-image.post-author-default a img[src$=".svg"] {
  display: block;
  width: 90%;
}
.site-main .elementor-widget-posts .ecs-post-loop .elementor-widget-author-box,
.site-main .elementor-widget-posts .ecs-post-loop .elementor-widget-theme-post-title,
.site-main .elementor-widget-posts .ecs-post-loop .elementor-widget-post-info {
  padding-left: 10px;
  padding-right: 10px;
}
.site-main .elementor-widget-posts .ecs-post-loop .elementor-widget-theme-post-title {
  margin-bottom: 0;
}
.site-main .elementor-widget-posts .ecs-post-loop .elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated,
.site-main .elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated>.elementor-widget-wrap {
  padding: 0;
}

@media only screen and (min-width: 600px) {
  .elementor-section.wide-gutter
    > .elementor-container
    > .elementor-row
    > .elementor-column:first-child
    > .elementor-element-populated {
    padding-right: 10%;
  }
  .elementor-section.wide-gutter
    > .elementor-container
    > .elementor-row
    > .elementor-column:last-child
    > .elementor-element-populated {
    padding-left: 10%;
  }
}

@media (max-width: 599px) {
  .home h3.elementor-heading-title {
    font-size: 20px;
    line-height: 1.3;
  }
  .elementor-section.section-hero {
    background-position: top center;
    background-size: 150%;
    margin-bottom: unset;
    min-height: unset;
    padding-bottom: 2em;
    padding-top: 90vw;
  }
  .elementor-section.section-hero h1 {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 30px;
    text-align: center;
  }
  .elementor .elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated,
  .home .elementor .elementor-section.section-highlight.highlight-white .elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
    padding: 10px 0;
  }
  .home .elementor .elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
    padding: 10px 10px;
  }
  .elementor-section.section-hero .elementor-cta--skin-classic {
    position: unset;
    bottom: unset;
  }
  .elementor-section.section-hero .elementor-cta--skin-classic .elementor-cta__content {
    display: unset;
    margin-top: 2em;
    padding: 30px;
    z-index: unset;
  }
  .elementor-section.section-hero .elementor-cta--skin-classic .elementor-cta__content .elementor-cta__description {
    margin-bottom: 1.5em;
  }
  .elementor-section.section-hero .elementor-button-wrapper,
  .elementor-section.section-highlight .elementor-button-wrapper {
    text-align: center;
  }
  .elementor-section.section-highlight h2 {
    text-align: center;
  }
  .elementor-widget-posts .elementor .elementor-element.elementor-widget-author-box {
    margin-bottom: 0.5em;
  }
  .elementor-widget-posts .elementor .elementor-element.elementor-widget-author-box .elementor-author-box__avatar img {
    height: 45px;
    width: 45px;
  }
  .elementor-widget-posts .elementor-widget-wrap {
    padding-bottom: 20px;
  }
  .elementor-widget-posts .elementor-post-info {
    font-size: 14px;
    line-height: 1.357;
  }
  .section-title .elementor-column.elementor-col-50 {
    width: 50%;
  }

  .section-title
    .elementor-column.elementor-col-50:first-child
    .elementor-column-wrap {
    padding-left: 0;
  }

  .section-title
    .elementor-column.elementor-col-50:nth-child(2)
    .elementor-column-wrap {
    padding-right: 0;
  }
}
