.tribe-events-pro.tribe-events-view--week .datepicker .day {
  border-radius: 0;
}
.tribe-events-pro.tribe-events-view--week .datepicker .day:first-child {
  border-bottom-left-radius: var(--tec-border-radius-default);
  border-top-left-radius: var(--tec-border-radius-default);
}
.tribe-events-pro.tribe-events-view--week .datepicker .day:last-child {
  border-bottom-right-radius: var(--tec-border-radius-default);
  border-top-right-radius: var(--tec-border-radius-default);
}
.tribe-events-pro.tribe-events-view--week .datepicker .day.disabled,
.tribe-events-pro.tribe-events-view--week .datepicker .day.disabled.focused,
.tribe-events-pro.tribe-events-view--week .datepicker .day.disabled:focus,
.tribe-events-pro.tribe-events-view--week .datepicker .day.disabled:hover {
  color: var(--tec-color-text-primary);
}
.tribe-events-pro.tribe-events-view--week .datepicker .day.active {
  background: transparent;
  color: var(--tec-color-text-primary);
}
.tribe-events-pro.tribe-events-view--week .datepicker .day.active:hover {
  background: transparent;
}
.tribe-events-pro.tribe-events-view--week .datepicker .day.past,
.tribe-events-pro.tribe-events-view--week .datepicker .day.past.focused,
.tribe-events-pro.tribe-events-view--week .datepicker .day.past:focus,
.tribe-events-pro.tribe-events-view--week .datepicker .day.past:hover {
  color: var(--tec-color-text-primary-light);
}
.tribe-events-pro.tribe-events-view--week .datepicker .day.current {
  color: var(--tec-color-background);
  position: relative;
}
.tribe-events-pro.tribe-events-view--week .datepicker .day.current.focused,
.tribe-events-pro.tribe-events-view--week .datepicker .day.current:focus,
.tribe-events-pro.tribe-events-view--week .datepicker .day.current:hover {
  color: var(--tec-color-background);
}
.tribe-events-pro.tribe-events-view--week .datepicker .day.current:before {
  background: var(--tec-color-accent-primary);
  border-radius: var(--tec-border-radius-default);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.tribe-events-pro.tribe-events-view--week .datepicker .focused .day,
.tribe-events-pro.tribe-events-view--week .datepicker .focused .day:hover,
.tribe-events-pro.tribe-events-view--week .datepicker .hovered .day,
.tribe-events-pro.tribe-events-view--week .datepicker .hovered .day:hover {
  background: var(--tec-color-background-secondary);
}
.tribe-events-pro.tribe-events-view--week .datepicker .focused .day.current,
.tribe-events-pro.tribe-events-view--week .datepicker .hovered .day.current {
  background: transparent;
}
.tribe-events-pro.tribe-events-view--week .datepicker .active .day,
.tribe-events-pro.tribe-events-view--week .datepicker .active .day:hover {
  background: var(--tec-color-accent-primary-background);
}
.tribe-theme-enfold
  .tribe-events-pro.tribe-events-view--week
  .datepicker
  .day.active {
  background: transparent;
  color: var(--tec-color-text-primary);
}
.tribe-theme-enfold
  .tribe-events-pro.tribe-events-view--week
  .datepicker
  .day.active:hover {
  background: transparent;
}
.tribe-theme-enfold
  .tribe-events-pro.tribe-events-view--week
  .datepicker
  .day.past {
  color: var(--tec-color-text-primary-light);
}
.tribe-theme-enfold
  .tribe-events-pro.tribe-events-view--week
  .datepicker
  .day.current,
.tribe-theme-enfold
  .tribe-events-pro.tribe-events-view--week
  .datepicker
  .day.current.focused,
.tribe-theme-enfold
  .tribe-events-pro.tribe-events-view--week
  .datepicker
  .day.current:focus,
.tribe-theme-enfold
  .tribe-events-pro.tribe-events-view--week
  .datepicker
  .day.current:hover {
  color: var(--tec-color-background);
}
.tribe-theme-enfold
  .tribe-events-pro.tribe-events-view--week
  .datepicker
  .focused
  .day,
.tribe-theme-enfold
  .tribe-events-pro.tribe-events-view--week
  .datepicker
  .focused
  .day:hover,
.tribe-theme-enfold
  .tribe-events-pro.tribe-events-view--week
  .datepicker
  .hovered
  .day,
.tribe-theme-enfold
  .tribe-events-pro.tribe-events-view--week
  .datepicker
  .hovered
  .day:hover {
  background: var(--tec-color-background-secondary);
}
.tribe-theme-enfold
  .tribe-events-pro.tribe-events-view--week
  .datepicker
  .focused
  .day.current,
.tribe-theme-enfold
  .tribe-events-pro.tribe-events-view--week
  .datepicker
  .hovered
  .day.current {
  background: transparent;
}
.tribe-theme-enfold
  .tribe-events-pro.tribe-events-view--week
  .datepicker
  .active
  .day,
.tribe-theme-enfold
  .tribe-events-pro.tribe-events-view--week
  .datepicker
  .active
  .day:hover {
  background: var(--tec-color-accent-primary-background);
}
.tribe-theme-avada
  .tribe-events-pro.tribe-events-view--week
  .datepicker
  .day.active {
  background: transparent !important;
  color: var(--tec-color-text-primary) !important;
}
.tribe-theme-avada
  .tribe-events-pro.tribe-events-view--week
  .datepicker
  .day.active:hover {
  background: transparent !important;
}
.tribe-theme-avada
  .tribe-events-pro.tribe-events-view--week
  .datepicker
  .day.past {
  color: var(--tec-color-text-primary-light) !important;
}
.tribe-theme-avada
  .tribe-events-pro.tribe-events-view--week
  .datepicker
  .day.current,
.tribe-theme-avada
  .tribe-events-pro.tribe-events-view--week
  .datepicker
  .day.current.focused,
.tribe-theme-avada
  .tribe-events-pro.tribe-events-view--week
  .datepicker
  .day.current:focus,
.tribe-theme-avada
  .tribe-events-pro.tribe-events-view--week
  .datepicker
  .day.current:hover {
  color: var(--tec-color-background) !important;
}
.tribe-theme-avada
  .tribe-events-pro.tribe-events-view--week
  .datepicker
  .focused
  .day,
.tribe-theme-avada
  .tribe-events-pro.tribe-events-view--week
  .datepicker
  .focused
  .day:hover,
.tribe-theme-avada
  .tribe-events-pro.tribe-events-view--week
  .datepicker
  .hovered
  .day,
.tribe-theme-avada
  .tribe-events-pro.tribe-events-view--week
  .datepicker
  .hovered
  .day:hover {
  background: var(--tec-color-background-secondary) !important;
}
.tribe-theme-avada
  .tribe-events-pro.tribe-events-view--week
  .datepicker
  .focused
  .day.current,
.tribe-theme-avada
  .tribe-events-pro.tribe-events-view--week
  .datepicker
  .hovered
  .day.current {
  background: transparent !important;
}
.tribe-theme-avada
  .tribe-events-pro.tribe-events-view--week
  .datepicker
  .active
  .day,
.tribe-theme-avada
  .tribe-events-pro.tribe-events-view--week
  .datepicker
  .active
  .day:hover {
  background: var(--tec-color-accent-primary-background) !important;
}
:root {
  --tec-color-recurring-icon-month: var(--tec-color-text-primary);
  --tec-color-recurring-icon-month-hover: var(--tec-color-text-primary);
  --tec-color-recurring-icon-month-multiday: var(--tec-color-text-primary);
  --tec-color-recurring-icon-month-multiday-hover: var(
    --tec-color-text-primary
  );
  --tec-color-recurring-icon-list: var(--tec-color-text-primary);
  --tec-color-recurring-icon-list-hover: var(--tec-color-text-primary);
  --tec-color-recurring-icon-day: var(--tec-color-text-primary);
  --tec-color-recurring-icon-day-hover: var(--tec-color-text-primary);
  --tec-color-recurring-icon-week: var(--tec-color-text-primary);
  --tec-color-recurring-icon-week-hover: var(--tec-color-text-primary);
  --tec-color-recurring-icon-week-multiday: var(--tec-color-text-primary);
  --tec-color-recurring-icon-week-multiday-hover: var(--tec-color-text-primary);
  --tec-color-recurring-icon-photo: var(--tec-color-text-primary);
  --tec-color-recurring-icon-photo-hover: var(--tec-color-text-primary);
  --tec-color-recurring-icon-map: var(--tec-color-text-primary);
  --tec-color-recurring-icon-map-hover: var(--tec-color-text-primary);
}
.tribe-events
  .tribe-events-calendar-list__event-datetime-recurring-link:focus
  .tribe-events-calendar-list__event-datetime-recurring-icon-svg
  path,
.tribe-events
  .tribe-events-calendar-list__event-datetime-recurring-link:hover
  .tribe-events-calendar-list__event-datetime-recurring-icon-svg
  path {
  fill: currentColor;
  stroke: currentColor;
}
.tribe-events
  .tribe-events-calendar-month__calendar-event-datetime-recurring-link {
  color: var(--tec-color-recurring-icon-month);
}
.tribe-events
  .tribe-events-calendar-month__calendar-event-datetime-recurring-link:focus,
.tribe-events
  .tribe-events-calendar-month__calendar-event-datetime-recurring-link:hover {
  color: var(--tec-color-recurring-icon-month-hover);
}
.tribe-events
  .tribe-events-calendar-month__calendar-event-datetime-recurring-link:focus
  .tribe-events-calendar-month__calendar-event-datetime-recurring-icon-svg
  path,
.tribe-events
  .tribe-events-calendar-month__calendar-event-datetime-recurring-link:hover
  .tribe-events-calendar-month__calendar-event-datetime-recurring-icon-svg
  path {
  fill: currentColor;
  stroke: currentColor;
}
.tribe-events
  .tribe-events-calendar-month__calendar-event-multiday-datetime-recurring-link,
.tribe-events
  .tribe-events-calendar-month__calendar-event-multiday-recurring-link {
  color: var(--tec-color-recurring-icon-month-multiday);
}
.tribe-events
  .tribe-events-calendar-month__calendar-event-multiday-datetime-recurring-link:focus,
.tribe-events
  .tribe-events-calendar-month__calendar-event-multiday-datetime-recurring-link:hover,
.tribe-events
  .tribe-events-calendar-month__calendar-event-multiday-recurring-link:focus,
.tribe-events
  .tribe-events-calendar-month__calendar-event-multiday-recurring-link:hover {
  color: var(--tec-color-recurring-icon-month-multiday-hover);
}
.tribe-events
  .tribe-events-calendar-day__event-datetime-recurring-link:focus
  .tribe-events-calendar-day__event-datetime-recurring-icon-svg
  path,
.tribe-events
  .tribe-events-calendar-day__event-datetime-recurring-link:hover
  .tribe-events-calendar-day__event-datetime-recurring-icon-svg
  path,
.tribe-events
  .tribe-events-calendar-latest-past__event-datetime-recurring-link:focus
  .tribe-events-calendar-latest-past__event-datetime-recurring-icon-svg
  path,
.tribe-events
  .tribe-events-calendar-latest-past__event-datetime-recurring-link:hover
  .tribe-events-calendar-latest-past__event-datetime-recurring-icon-svg
  path,
.tribe-events
  .tribe-events-calendar-month-mobile-events__mobile-event-datetime-recurring-link:focus
  .tribe-events-calendar-month-mobile-events__mobile-event-datetime-recurring-icon-svg
  path,
.tribe-events
  .tribe-events-calendar-month-mobile-events__mobile-event-datetime-recurring-link:hover
  .tribe-events-calendar-month-mobile-events__mobile-event-datetime-recurring-icon-svg
  path,
.tribe-events
  .tribe-events-calendar-month__calendar-event-multiday-datetime-recurring-link:focus
  .tribe-events-calendar-month__calendar-event-datetime-recurring-icon-svg
  path,
.tribe-events
  .tribe-events-calendar-month__calendar-event-multiday-datetime-recurring-link:hover
  .tribe-events-calendar-month__calendar-event-datetime-recurring-icon-svg
  path,
.tribe-events
  .tribe-events-calendar-month__calendar-event-multiday-recurring-link:focus
  .tribe-events-calendar-month__calendar-event-datetime-recurring-icon-svg
  path,
.tribe-events
  .tribe-events-calendar-month__calendar-event-multiday-recurring-link:hover
  .tribe-events-calendar-month__calendar-event-datetime-recurring-icon-svg
  path,
.tribe-events
  .tribe-events-calendar-month__calendar-event-tooltip-datetime-recurring-link:focus
  .tribe-events-calendar-month__calendar-event-tooltip-datetime-recurring-icon-svg
  path,
.tribe-events
  .tribe-events-calendar-month__calendar-event-tooltip-datetime-recurring-link:hover
  .tribe-events-calendar-month__calendar-event-tooltip-datetime-recurring-icon-svg
  path {
  fill: currentColor;
  stroke: currentColor;
}
.tribe-events-pro .tribe-events-pro-photo__event-featured-image-link {
  transition: var(--tec-transition-opacity);
}
.tribe-events-pro .tribe-events-pro-photo__event-featured-image-link:focus,
.tribe-events-pro .tribe-events-pro-photo__event-featured-image-link:hover {
  opacity: var(--tec-opacity-icon-hover);
}
.tribe-events-pro .tribe-events-pro-photo__event-featured-image-link:active {
  opacity: var(--tec-opacity-icon-active);
}
.tribe-events-pro .tribe-events-pro-photo__event-date-tag-month {
  color: var(--tec-color-text-primary);
  font-family: var(--tec-font-family-sans-serif);
  font-size: var(--tec-font-size-0);
  font-weight: var(--tec-font-weight-regular);
  line-height: var(--tec-line-height-2);
  color: var(--tec-color-text-secondary);
  text-transform: uppercase;
}
.tribe-events-pro .tribe-events-pro-photo__event-title-link {
  color: var(--tec-color-text-events-title);
}
.tribe-events-pro .tribe-events-pro-photo__event-title-link:active,
.tribe-events-pro .tribe-events-pro-photo__event-title-link:focus,
.tribe-events-pro .tribe-events-pro-photo__event-title-link:hover {
  border-color: currentColor;
  color: var(--tec-color-text-events-title);
}
.tribe-events-pro .tribe-events-pro-photo__event-title-link:visited {
  color: var(--tec-color-text-events-title);
}
.tribe-events-pro .tribe-events-pro-photo__event-datetime {
  color: var(--tec-color-text-event-date);
}
.tribe-events-pro .tribe-events-pro-photo__event-datetime-featured-text {
  color: var(--tec-color-accent-primary);
  font-weight: var(--tec-font-weight-bold);
}
.tribe-events-pro
  .tribe-events-pro-photo__event-datetime-recurring-link:focus
  .tribe-events-pro-photo__event-datetime-recurring-icon-svg
  path,
.tribe-events-pro
  .tribe-events-pro-photo__event-datetime-recurring-link:hover
  .tribe-events-pro-photo__event-datetime-recurring-icon-svg
  path {
  fill: currentColor;
  stroke: currentColor;
}
.tribe-events-pro .tribe-events-pro-summary__month-separator:after {
  background-color: var(--tec-color-border-default);
  content: "";
  display: block;
  flex: auto;
  height: 1px;
}
.tribe-events-pro
  .tribe-events-pro-summary__event-row--featured
  .tribe-events-pro-summary__event-date-tag-datetime:after {
  background-color: var(--tec-color-accent-primary);
  border-radius: var(--tec-border-radius-default);
  content: "";
  height: 100%;
  position: absolute;
  right: calc(100% - 3px);
  width: 3px;
}
.tribe-common--breakpoint-medium.tribe-events-pro
  .tribe-events-pro-summary__event-row--featured
  .tribe-events-pro-summary__event-date-tag-datetime:after {
  right: -1px;
  width: 4px;
}
.tribe-events-pro .tribe-events-pro-summary__event-date-tag-weekday {
  color: var(--tec-color-text-primary);
  font-family: var(--tec-font-family-sans-serif);
  font-size: var(--tec-font-size-0);
  font-weight: var(--tec-font-weight-regular);
  line-height: var(--tec-line-height-2);
  color: var(--tec-color-text-secondary);
  text-transform: uppercase;
}
.tribe-events-pro .tribe-events-pro-summary__event-datetime {
  color: var(--tec-color-text-event-date);
}
.tribe-common--breakpoint-medium.tribe-events-pro
  .tribe-events-pro-summary__event-datetime-featured-text {
  color: var(--tec-color-accent-primary);
  font-weight: var(--tec-font-weight-bold);
}
.tribe-events-pro .tribe-events-pro-summary__date-separator {
  background-color: var(--tec-color-border-default);
}
.tribe-events-pro .tribe-events-pro-summary__event-title-link {
  color: var(--tec-color-text-events-title);
}
.tribe-events-pro .tribe-events-pro-summary__event-title-link:active,
.tribe-events-pro .tribe-events-pro-summary__event-title-link:focus,
.tribe-events-pro .tribe-events-pro-summary__event-title-link:hover {
  border-color: currentColor;
  color: var(--tec-color-text-events-title);
}
.tribe-events-pro .tribe-events-pro-summary__event-title-link:visited {
  color: var(--tec-color-text-events-title);
}
.tribe-events-pro-summary a.tribe-events-c-small-cta__text {
  border-bottom: 1px solid var(--tec-color-icon-focus);
}
.tribe-events-pro-summary .tribe-events-c-small-cta__price {
  border-radius: 10px;
}
.tribe-events-pro .tribe-events-pro-summary-nav {
  border-top: 1px solid var(--tec-color-border-default);
}
.tribe-events-pro .tribe-events-pro-week-day-selector__day {
  border: 1px solid transparent;
  border-radius: var(--tec-border-radius-default);
  transition: var(--tec-transition-border-color);
}
.tribe-events-pro
  .tribe-events-pro-week-day-selector__day:focus
  .tribe-events-pro-week-day-selector__day-daynum,
.tribe-events-pro
  .tribe-events-pro-week-day-selector__day:focus
  .tribe-events-pro-week-day-selector__day-weekday,
.tribe-events-pro
  .tribe-events-pro-week-day-selector__day:hover
  .tribe-events-pro-week-day-selector__day-daynum,
.tribe-events-pro
  .tribe-events-pro-week-day-selector__day:hover
  .tribe-events-pro-week-day-selector__day-weekday {
  color: var(--tec-color-accent-secondary-hover);
}
.tribe-events-pro
  .tribe-events-pro-week-day-selector__day:active
  .tribe-events-pro-week-day-selector__day-daynum,
.tribe-events-pro
  .tribe-events-pro-week-day-selector__day:active
  .tribe-events-pro-week-day-selector__day-weekday {
  color: var(--tec-color-accent-secondary-active);
}
.tribe-events-pro .tribe-events-pro-week-day-selector__day--active {
  border-color: var(--tec-color-accent-primary);
}
.tribe-events-pro .tribe-events-pro-week-day-selector__events-icon {
  background-color: var(--tec-color-accent-primary);
}
.tribe-events-pro .tribe-events-pro-week-day-selector__day-daynum,
.tribe-events-pro .tribe-events-pro-week-day-selector__day-weekday {
  transition: var(--tec-transition-color);
}
.tribe-events-pro .tribe-events-pro-week-day-selector__day-weekday {
  color: var(--tec-color-text-secondary);
  margin: 9px 0 -7px;
  text-transform: uppercase;
}
.tribe-events-pro .tribe-events-pro-week-day-selector__day-daynum {
  margin-bottom: var(--tec-spacer-0);
}
.tribe-events-pro
  .tribe-events-pro-week-day-selector__next:focus
  .tribe-events-pro-week-day-selector__next-icon-svg
  path,
.tribe-events-pro
  .tribe-events-pro-week-day-selector__next:hover
  .tribe-events-pro-week-day-selector__next-icon-svg
  path,
.tribe-events-pro
  .tribe-events-pro-week-day-selector__prev:focus
  .tribe-events-pro-week-day-selector__prev-icon-svg
  path,
.tribe-events-pro
  .tribe-events-pro-week-day-selector__prev:hover
  .tribe-events-pro-week-day-selector__prev-icon-svg
  path {
  fill: var(--tec-color-icon-active);
}
.tribe-events-pro .tribe-events-pro-week-day-selector__next-icon-svg path,
.tribe-events-pro .tribe-events-pro-week-day-selector__prev-icon-svg path {
  fill: var(--tec-color-icon-secondary);
}
.tribe-events-pro
  .tribe-events-pro-week-grid__header-column--current
  .tribe-events-pro-week-grid__header-column-weekday {
  color: var(--tec-color-text-primary);
}
.tribe-events-pro
  .tribe-events-pro-week-grid__header-column--current
  .tribe-events-pro-week-grid__header-column-daynum,
.tribe-events-pro
  .tribe-events-pro-week-grid__header-column--current
  .tribe-events-pro-week-grid__header-column-daynum-link {
  color: var(--tec-color-accent-primary);
}
.tribe-events-pro
  .tribe-events-pro-week-grid__header-column--current
  .tribe-events-pro-week-grid__header-column-daynum-link:focus,
.tribe-events-pro
  .tribe-events-pro-week-grid__header-column--current
  .tribe-events-pro-week-grid__header-column-daynum-link:hover {
  color: var(--tec-color-accent-primary-hover);
}
.tribe-events-pro
  .tribe-events-pro-week-grid__header-column--current
  .tribe-events-pro-week-grid__header-column-daynum-link:active {
  color: var(--tec-color-accent-primary-active);
}
.tribe-events-pro .tribe-events-pro-week-grid__header-column-weekday {
  color: var(--tec-color-text-secondary);
  text-transform: uppercase;
}
.tribe-events-pro .tribe-events-pro-week-grid__multiday-events-row-wrapper {
  box-shadow: var(--tec-box-shadow-multiday);
}
.tribe-events-pro
  .tribe-events-pro-week-grid__events-row-wrapper:focus
  + .tribe-events-pro-week-grid__events-row-scroll-pane {
  opacity: var(--tec-opacity-default);
}
.tribe-events-pro .tribe-events-pro-week-grid__multiday-toggle-button:focus,
.tribe-events-pro .tribe-events-pro-week-grid__multiday-toggle-button:hover {
  opacity: var(--tec-opacity-icon-hover);
}
.tribe-events-pro .tribe-events-pro-week-grid__multiday-toggle-button:active {
  opacity: var(--tec-opacity-icon-active);
}
.tribe-events-pro
  .tribe-events-pro-week-grid__events-scroll-wrapper:hover
  .tribe-events-pro-week-grid__events-row-scroll-pane {
  opacity: var(--tec-opacity-default);
}
.tribe-events-pro .tribe-events-pro-week-grid__events-time-tag {
  color: var(--tec-color-text-primary);
  font-family: var(--tec-font-family-sans-serif);
  font-size: var(--tec-font-size-0);
  font-weight: var(--tec-font-weight-regular);
  line-height: var(--tec-line-height-2);
}
.tribe-events-pro .tribe-events-pro-week-grid__events-row-scroll-pane {
  opacity: 0;
  transition: var(--tec-transition-opacity);
}
.tribe-events-pro .tribe-events-pro-week-grid__events-row-scroll-pane.active {
  opacity: var(--tec-opacity-default);
}
.tribe-events-pro
  .tribe-events-pro-week-grid__multiday-event--start
  .tribe-events-pro-week-grid__multiday-event-bar {
  border-bottom-left-radius: 9.5px;
  border-top-left-radius: 9.5px;
}
.tribe-events-pro
  .tribe-events-pro-week-grid__multiday-event--end
  .tribe-events-pro-week-grid__multiday-event-bar {
  border-bottom-right-radius: 9.5px;
  border-top-right-radius: 9.5px;
}
.tribe-events-pro .tribe-events-pro-week-grid__multiday-event-bar-inner {
  background-color: var(--tec-color-accent-primary-multiday);
  transition: var(--tec-transition-background-color);
}
.tribe-events-pro .tribe-events-pro-week-grid__multiday-event-bar-inner:focus,
.tribe-events-pro .tribe-events-pro-week-grid__multiday-event-bar-inner:hover {
  background-color: var(--tec-color-accent-primary-multiday-hover);
}
.tribe-events-pro .tribe-events-pro-week-grid__multiday-event-bar-title-link {
  color: var(--tec-color-text-events-title);
}
.tribe-events-pro
  .tribe-events-pro-week-grid__multiday-event-bar-title-link:active,
.tribe-events-pro
  .tribe-events-pro-week-grid__multiday-event-bar-title-link:focus,
.tribe-events-pro
  .tribe-events-pro-week-grid__multiday-event-bar-title-link:hover {
  border-color: currentColor;
  color: var(--tec-color-text-events-title);
}
.tribe-events-pro
  .tribe-events-pro-week-grid__multiday-event-bar-title-link:visited {
  color: var(--tec-color-text-events-title);
}
.tribe-events-pro
  .tribe-events-pro-week-grid__multiday-event--past
  .tribe-events-pro-week-grid__multiday-event-bar-inner {
  background-color: var(--tec-color-background-secondary);
}
.tribe-events-pro
  .tribe-events-pro-week-grid__multiday-event--past
  .tribe-events-pro-week-grid__multiday-event-bar-inner--focus,
.tribe-events-pro
  .tribe-events-pro-week-grid__multiday-event--past
  .tribe-events-pro-week-grid__multiday-event-bar-inner--hover,
.tribe-events-pro
  .tribe-events-pro-week-grid__multiday-event--past
  .tribe-events-pro-week-grid__multiday-event-bar-inner:focus,
.tribe-events-pro
  .tribe-events-pro-week-grid__multiday-event--past
  .tribe-events-pro-week-grid__multiday-event-bar-inner:hover {
  background-color: var(--tec-color-background-secondary-hover);
}
.tribe-events-pro .tribe-events-pro-week-grid__multiday-event-bar-inner--focus,
.tribe-events-pro .tribe-events-pro-week-grid__multiday-event-bar-inner--hover {
  background-color: var(--tec-color-accent-primary-multiday-hover);
}
.tribe-events-pro .tribe-events-pro-week-grid__multiday-event-title {
  text-overflow: ellipsis;
}
:root {
  --tec-color-twentyseventeen-dark-background: #222;
  --color-twentyseventeen-dark-background: var(
    --tec-color-twentyseventeen-dark-background,
    #222
  );
}
.tribe-events-pro .tribe-events-pro-week-grid__event-title {
  color: var(--tec-color-text-events-title);
}
.tribe-events-pro
  .tribe-events-pro-week-grid__event--h-1
  .tribe-events-pro-week-grid__event-title,
.tribe-events-pro
  [class*="tribe-events-pro-week-grid__event--h-0"]
  .tribe-events-pro-week-grid__event-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tribe-events-pro
  .tribe-events-pro-week-grid__event--featured
  .tribe-events-pro-week-grid__event-link-inner {
  background-color: var(--tec-color-accent-primary-week-event-featured);
}
.tribe-events-pro
  .tribe-events-pro-week-grid__event--featured
  .tribe-events-pro-week-grid__event-link-inner:before {
  background-color: var(--tec-color-accent-primary);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 2px;
}
.tribe-events-pro
  .tribe-events-pro-week-grid__event--featured
  .tribe-events-pro-week-grid__event-link:focus
  .tribe-events-pro-week-grid__event-link-inner,
.tribe-events-pro
  .tribe-events-pro-week-grid__event--featured
  .tribe-events-pro-week-grid__event-link:hover
  .tribe-events-pro-week-grid__event-link-inner {
  background-color: var(--tec-color-accent-primary-week-event-featured-hover);
}
.tribe-events-pro
  .tribe-events-pro-week-grid__event--past
  .tribe-events-pro-week-grid__event-link-inner {
  background-color: var(--tec-color-background-secondary);
}
.tribe-events-pro
  .tribe-events-pro-week-grid__event--past
  .tribe-events-pro-week-grid__event-link:focus
  .tribe-events-pro-week-grid__event-link-inner,
.tribe-events-pro
  .tribe-events-pro-week-grid__event--past
  .tribe-events-pro-week-grid__event-link:hover
  .tribe-events-pro-week-grid__event-link-inner {
  background-color: var(--tec-color-background-secondary-hover);
}
.tribe-events-pro .tribe-events-pro-week-grid__event-link {
  border: var(--tec-border-width-week-event) solid var(--tec-color-background);
  border-radius: calc(
    var(--tec-border-radius-default) + var(--tec-border-width-week-event)
  );
}
.tribe-events-pro
  .tribe-events-pro-week-grid__event-link:focus
  .tribe-events-pro-week-grid__event-link-inner,
.tribe-events-pro
  .tribe-events-pro-week-grid__event-link:hover
  .tribe-events-pro-week-grid__event-link-inner {
  background-color: var(--tec-color-accent-primary-week-event-hover);
}
.tribe-events-pro .tribe-events-pro-week-grid__event-link-inner {
  background-color: var(--tec-color-accent-primary-week-event);
  transition: var(--tec-transition-background-color);
}
.tribe-events-pro .tribe-events-pro-week-grid__event-datetime {
  color: var(--tec-color-text-primary);
  font-family: var(--tec-font-family-sans-serif);
  font-size: var(--tec-font-size-0);
  font-weight: var(--tec-font-weight-regular);
  line-height: var(--tec-line-height-2);
  color: var(--tec-color-text-event-date);
  white-space: nowrap;
}
.tribe-events-pro
  .tribe-events-pro-week-grid__event-tooltip-featured-image-link {
  transition: var(--tec-transition-opacity);
}
.tribe-events-pro
  .tribe-events-pro-week-grid__event-tooltip-featured-image-link:focus,
.tribe-events-pro
  .tribe-events-pro-week-grid__event-tooltip-featured-image-link:hover {
  opacity: var(--tec-opacity-icon-hover);
}
.tribe-events-pro
  .tribe-events-pro-week-grid__event-tooltip-featured-image-link:active {
  opacity: var(--tec-opacity-icon-active);
}
.tribe-events-pro .tribe-events-pro-week-grid__event-tooltip-title-link {
  color: var(--tec-color-text-events-title);
}
.tribe-events-pro .tribe-events-pro-week-grid__event-tooltip-title-link:active,
.tribe-events-pro .tribe-events-pro-week-grid__event-tooltip-title-link:focus,
.tribe-events-pro .tribe-events-pro-week-grid__event-tooltip-title-link:hover {
  border-color: currentColor;
  color: var(--tec-color-text-events-title);
}
.tribe-events-pro
  .tribe-events-pro-week-grid__event-tooltip-title-link:visited {
  color: var(--tec-color-text-events-title);
}
.tribe-events-pro .tribe-events-pro-week-grid__event-tooltip-datetime {
  color: var(--tec-color-text-primary);
  font-family: var(--tec-font-family-sans-serif);
  font-size: var(--tec-font-size-0);
  font-weight: var(--tec-font-weight-regular);
  line-height: var(--tec-line-height-2);
  color: var(--tec-color-text-event-date);
}
.tribe-events-pro
  .tribe-events-pro-week-grid__event-tooltip-datetime-recurring-link:focus
  .tribe-events-pro-week-grid__event-tooltip-datetime-recurring-icon-svg
  path,
.tribe-events-pro
  .tribe-events-pro-week-grid__event-tooltip-datetime-recurring-link:hover
  .tribe-events-pro-week-grid__event-tooltip-datetime-recurring-icon-svg
  path {
  fill: currentColor;
  stroke: currentColor;
}
.tribe-theme-twentyseventeen.colors-dark
  .tribe-events-pro
  .tribe-events-pro-week-grid__event-link {
  border-color: var(--tec-color-twentyseventeen-dark-background);
}
.tribe-theme-twentytwentyone
  .tribe-events-pro
  .tribe-events-pro-week-grid__event-link {
  border-color: var(--tec-global--color-background);
}
.tribe-events-week.ast-separate-container .ast-article-post {
  background-color: transparent;
  padding: 0;
}
.tribe-events-pro .tribe-events-pro-week-mobile-events__event-title-link {
  color: var(--tec-color-text-events-title);
}
.tribe-events-pro .tribe-events-pro-week-mobile-events__event-title-link:active,
.tribe-events-pro .tribe-events-pro-week-mobile-events__event-title-link:focus,
.tribe-events-pro .tribe-events-pro-week-mobile-events__event-title-link:hover {
  border-color: currentColor;
  color: var(--tec-color-text-events-title);
}
.tribe-events-pro
  .tribe-events-pro-week-mobile-events__event-title-link:visited {
  color: var(--tec-color-text-events-title);
}
.tribe-events-pro .tribe-events-pro-week-mobile-events__event--featured:before {
  background-color: var(--tec-color-accent-primary);
  content: "";
  height: 100%;
  left: var(--tec-grid-gutter-small-half);
  position: absolute;
  width: 3px;
}
.tribe-events-pro
  .tribe-events-pro-week-mobile-events__event-featured-image-link {
  transition: var(--tec-transition-opacity);
}
.tribe-events-pro
  .tribe-events-pro-week-mobile-events__event-featured-image-link:focus,
.tribe-events-pro
  .tribe-events-pro-week-mobile-events__event-featured-image-link:hover {
  opacity: var(--tec-opacity-icon-hover);
}
.tribe-events-pro
  .tribe-events-pro-week-mobile-events__event-featured-image-link:active {
  opacity: var(--tec-opacity-icon-active);
}
.tribe-events-pro
  .tribe-events-pro-week-mobile-events__event-datetime-recurring-link {
  color: var(--tec-color-text-event-date);
}
.tribe-events-pro
  .tribe-events-pro-week-mobile-events__event-datetime-recurring-link:focus
  .tribe-events-pro-week-grid__event-tooltip-datetime-recurring-icon-svg
  path,
.tribe-events-pro
  .tribe-events-pro-week-mobile-events__event-datetime-recurring-link:focus
  .tribe-events-pro-week-mobile-events__event-datetime-recurring-icon-svg
  path,
.tribe-events-pro
  .tribe-events-pro-week-mobile-events__event-datetime-recurring-link:hover
  .tribe-events-pro-week-grid__event-tooltip-datetime-recurring-icon-svg
  path,
.tribe-events-pro
  .tribe-events-pro-week-mobile-events__event-datetime-recurring-link:hover
  .tribe-events-pro-week-mobile-events__event-datetime-recurring-icon-svg
  path {
  fill: currentColor;
  stroke: currentColor;
}
.tribe-events-pro
  .tribe-events-pro-week-mobile-events__event-time-separator:after,
.tribe-events-pro
  .tribe-events-pro-week-mobile-events__event-type-separator:after {
  background-color: var(--tec-color-border-default);
  content: "";
  display: block;
  flex: auto;
  height: 1px;
  margin-left: 20px;
}
.tribe-events-pro .tribe-events-pro-map__map {
  border-color: var(--tec-color-border-default);
  border-style: solid;
  border-width: 1px 1px 0;
}
.tribe-common--breakpoint-medium.tribe-events-pro .tribe-events-pro-map__map {
  border-width: 1px 0 1px 1px;
}
.tribe-events-pro .tribe-events-pro-map__no-venue-modal--premium {
  box-shadow: var(--tec-box-shadow-default);
}
.tribe-events-pro
  .tribe-events-pro-map__no-venue-modal-close:focus
  .tribe-events-pro-map__no-venue-modal-close-icon-svg
  path,
.tribe-events-pro
  .tribe-events-pro-map__no-venue-modal-close:hover
  .tribe-events-pro-map__no-venue-modal-close-icon-svg
  path {
  stroke: var(--tec-color-icon-primary);
}
.tribe-events-pro .tribe-events-pro-map__event-column:after,
.tribe-events-pro .tribe-events-pro-map__event-column:before {
  background-color: var(--tec-color-border-default);
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 1px;
}
.tribe-events-pro .tribe-events-pro-map__event-column:before {
  left: 0;
}
.tribe-events-pro .tribe-events-pro-map__event-column:after {
  right: 0;
}
.tribe-events-pro
  .tribe-events-pro-map__event-cards-wrapper:hover
  .tribe-events-pro-map__event-cards-scroll-pane {
  opacity: var(--tec-opacity-default);
}
.tribe-events-pro .tribe-events-pro-map__event-cards-wrapper:after,
.tribe-events-pro .tribe-events-pro-map__event-cards-wrapper:before {
  background-color: var(--tec-color-border-default);
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}
.tribe-events-pro .tribe-events-pro-map__event-cards-wrapper:before {
  top: 0;
}
.tribe-events-pro .tribe-events-pro-map__event-cards-wrapper:after {
  bottom: 0;
}
.tribe-events-pro
  .tribe-events-pro-map__event-cards:focus
  + .tribe-events-pro-map__event-cards-scroll-pane {
  opacity: var(--tec-opacity-default);
}
.tribe-events-pro .tribe-events-pro-map__event-cards-scroll-pane {
  opacity: 0;
  transition: var(--tec-transition-opacity);
}
.tribe-events-pro .tribe-events-pro-map__event-cards-scroll-pane.active {
  opacity: var(--tec-opacity-default);
}
.tribe-events-pro .tribe-events-pro-map__event-card-wrapper:not(:first-child) {
  margin-top: -1px;
}
.tribe-events-pro .tribe-events-pro-map__event-card-button {
  border: 1px solid var(--tec-color-border-default);
  text-align: left;
}
.tribe-events-pro .tribe-events-pro-map__event-card-button:focus,
.tribe-events-pro .tribe-events-pro-map__event-card-button:hover {
  border: 1px solid var(--tec-color-border-hover);
}
.tribe-events-pro
  .tribe-events-pro-map__event-card-wrapper--active
  .tribe-events-pro-map__event-card-button {
  border: 1px solid var(--tec-color-accent-primary);
  box-shadow: var(--tec-box-shadow-card);
}
.tribe-events-pro .tribe-events-pro-map__event-date-tag-month {
  color: var(--tec-color-text-primary);
  font-family: var(--tec-font-family-sans-serif);
  font-size: var(--tec-font-size-0);
  font-weight: var(--tec-font-weight-regular);
  line-height: var(--tec-line-height-2);
  color: var(--tec-color-text-secondary);
  text-transform: uppercase;
}
.tribe-events-pro .tribe-events-pro-map__event-featured-image-link {
  transition: var(--tec-transition-opacity);
}
.tribe-events-pro .tribe-events-pro-map__event-featured-image-link:focus,
.tribe-events-pro .tribe-events-pro-map__event-featured-image-link:hover {
  opacity: var(--tec-opacity-icon-hover);
}
.tribe-events-pro .tribe-events-pro-map__event-featured-image-link:active {
  opacity: var(--tec-opacity-icon-active);
}
.tribe-events-pro .tribe-events-pro-map__event-datetime-wrapper,
.tribe-events-pro .tribe-events-pro-map__event-tooltip-datetime-wrapper {
  color: var(--tec-color-text-event-date);
}
.tribe-common--breakpoint-medium.tribe-events-pro
  .tribe-events-pro-map__event-datetime-featured-text {
  color: var(--tec-color-accent-primary);
  font-weight: var(--tec-font-weight-bold);
}
.tribe-events-pro .tribe-events-pro-map__event-title {
  color: var(--tec-color-text-events-title);
  line-height: var(--tec-line-height-0);
}
.tribe-events-pro .tribe-events-pro-map__event-tooltip-title-link {
  color: var(--tec-color-text-events-title);
}
.tribe-events-pro .tribe-events-pro-map__event-tooltip-title-link:active,
.tribe-events-pro .tribe-events-pro-map__event-tooltip-title-link:focus,
.tribe-events-pro .tribe-events-pro-map__event-tooltip-title-link:hover {
  border-color: currentColor;
  color: var(--tec-color-text-events-title);
}
.tribe-events-pro .tribe-events-pro-map__event-tooltip-title-link:visited {
  color: var(--tec-color-text-events-title);
}
.tribe-events-pro .tribe-events-pro-map__event-venue {
  font-style: normal;
}
.tribe-common--breakpoint-medium.tribe-events-pro
  .tribe-events-pro-map__event-distance {
  color: var(--tec-color-text-secondary);
}
.tribe-events-pro .tribe-events-pro-map__event-tooltip-venue {
  font-style: normal;
}
.tribe-events-pro .tribe-events-pro-map__event-tooltip-navigation-button:focus,
.tribe-events-pro .tribe-events-pro-map__event-tooltip-navigation-button:hover {
  opacity: var(--tec-opacity-icon-hover);
}
.tribe-events-pro
  .tribe-events-pro-map__event-tooltip-navigation-button:active {
  opacity: var(--tec-opacity-icon-active);
}
.tribe-events-pro
  .tribe-events-pro-map__event-tooltip-navigation-button-icon-svg {
  flex: none;
  height: 10px;
  width: 13px;
}
.tribe-events-pro
  .tribe-events-pro-map__event-tooltip-navigation-button--prev
  .tribe-events-pro-map__event-tooltip-navigation-button-icon-svg {
  margin-right: var(--tec-spacer-1);
  transform: rotate(180deg);
}
.tribe-events-pro
  .tribe-events-pro-map__event-tooltip-navigation-button--next
  .tribe-events-pro-map__event-tooltip-navigation-button-icon-svg {
  margin-left: var(--tec-spacer-1);
}
.tribe-events-pro
  .tribe-events-pro-map__event-tooltip-navigation-button--disabled {
  color: var(--tec-color-icon-secondary);
}
.tribe-events-pro
  .tribe-events-pro-map__event-tooltip-navigation-button--disabled:active,
.tribe-events-pro
  .tribe-events-pro-map__event-tooltip-navigation-button--disabled:focus,
.tribe-events-pro
  .tribe-events-pro-map__event-tooltip-navigation-button--disabled:hover {
  opacity: var(--tec-opacity-default);
}
.tribe-events-pro
  .tribe-events-pro-map__event-tooltip-navigation-button--disabled
  .tribe-events-pro-map__event-tooltip-navigation-button-icon-svg
  path {
  fill: var(--tec-color-icon-secondary);
}
.tribe-events-pro .gm-style {
  font-family: var(--tec-font-family-sans-serif);
}
.tribe-events-pro .gm-style .gm-style-iw-c {
  border-radius: var(--tec-border-radius-default);
}
.tribe-events-pro .tribe-events-pro-map__nav {
  border-color: var(--tec-color-border-default);
  border-style: solid;
  border-width: 0 1px 1px;
}
.tribe-common--breakpoint-medium.tribe-events-pro
  .tribe-events-pro-map__nav
  .tribe-events-c-nav__next,
.tribe-common--breakpoint-medium.tribe-events-pro
  .tribe-events-pro-map__nav
  .tribe-events-c-nav__prev {
  font-weight: var(--tec-font-weight-regular);
}
.tribe-events-pro .tribe-events-pro-map__nav .tribe-events-c-nav__next-icon-svg,
.tribe-events-pro
  .tribe-events-pro-map__nav
  .tribe-events-c-nav__prev-icon-svg {
  height: 12px;
}
.tribe-events-pro
  .tribe-events-pro-map__nav
  .tribe-events-c-nav__prev-icon-svg {
  margin-right: 8px;
}
.tribe-events-pro
  .tribe-events-pro-map__nav
  .tribe-events-c-nav__next-icon-svg {
  margin-left: 8px;
}
.tribe-events-pro .tribe-events-pro-organizer__meta {
  background-color: var(--tec-color-background);
  border: 1px solid var(--tec-color-border-default);
}
.tribe-events-pro .tribe-events-pro-organizer__meta-email-link,
.tribe-events-pro .tribe-events-pro-organizer__meta-website-link {
  color: var(--tec-color-accent-primary);
}
.tribe-events-pro .tribe-events-pro-venue__meta {
  background: var(--tec-color-background);
}
.tribe-events-pro .tribe-events-pro-venue__meta,
.tribe-events-pro .tribe-events-pro-venue__meta-map {
  border: 1px solid var(--tec-color-border-default);
}
.tribe-common--breakpoint-medium.tribe-events-pro
  .tribe-events-pro-venue__meta-map {
  border: 0;
}
.tribe-events-pro .tribe-events-pro-venue__meta-address-directions-link,
.tribe-events-pro .tribe-events-pro-venue__meta-website-link {
  color: var(--tec-color-accent-primary);

}
