.site-content {
  padding-bottom: 0;
  padding-top: 2em;
}
.elementor-col-66 .ecs-posts.elementor-posts-container .elementor-post {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  padding: 18px;
}
.elementor-col-66 .ecs-posts
  .elementor-post
  .elementor-section-wrap
  section.elementor-section:not(:first-child) {
  padding-bottom: 0;
  padding-top: 0;
}
.elementor-col-66 .ecs-posts.elementor-posts-container
  .elementor-post
  .elementor-widget:not(:last-child) {
  margin-bottom: 0;
}
.elementor-col-33 h4,
.elementor-col-33 .elementor-widget-wp-widget-categories h5,
.elementor-col-33 .elementor-widget-wp-widget-tag_cloud h5 {
  font-size: 18px;
  font-weight: 700px;
  line-height: 1.2;
}
.elementor-col-33 h5 {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
}

.single-post h1 {
  font-size: 50px;
  line-height: 1.18;
}
.elementor-column-gap-default>.elementor-row>.elementor-column.unpadded>.elementor-element-populated {
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  padding: 0;
}
.elementor-column-gap-default>.elementor-row>.elementor-column.unpadded .elementor-section.elementor-inner-section {
  font-size: 20px;
  padding: 20px 0;
}
.elementor-column-gap-default>.elementor-row>.elementor-column.unpadded .elementor-section.elementor-inner-section.elementor-post-footer {
  padding-top: 0;
}
.elementor-column-gap-default>.elementor-row>.elementor-column.unpadded .elementor-section .elementor-column .elementor-element-populated {
  padding: 0 50px;
}
.elementor-section.comments-container, .separate-containers .wpdc-comments-loaded .comments-area {
  background-color: #282828;
  color: #ffffff;
}
.separate-containers .wpdc-comments-loaded .comment-reply-title {
  color: #ffffff;
}
.elementor-section .elementor-element .elementor-author-box__name {
  color: #000000;
  font-weight: 700;
}
.elementor-column-gap-default>.elementor-row>.elementor-column.elementor-col-33>.elementor-element-populated.elementor-column-wrap {
  padding-left: 20px;
  padding-top: 0;
}
.comments-area h2,
.comments-area h3,
.comments-area h4 {
  color: #ffffff;
}
.comments-container .comment-content {
  padding: 0;
}
.comment-author.vcard, .comment-meta {
  display: flex;
  align-items: center;
}
.comment-meta {
  font-size: 14px;
  justify-content: space-between;
  line-height: 1.7;
}
.comment-content {
  font-size: 16px;
  line-height: 1.7;
}
.comment-respond .avatar {
  border-radius: 50%;
}

#main .inside-article {
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  padding-bottom: 0;
  margin-bottom: 20px;
}

#main .inside-article .nf-field-label {
  margin-bottom: 0;
}

#main .inside-article .elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
  padding: 59px 53px 45px 53px;
}

body.page-template-default .site.grid-container {
  max-width: 864px;
}

.tag-cloud-link {
  border: #1995A7 solid 2px;
  border-radius: 3px;
  margin: 0 3px 3px 0;
  line-height: 20px;
  font-size: 16px !important;
  display: inline-block;
  padding: 3px;
}

.tag-cloud-link:hover {
  color: #fff;
  background-color: #1995A7;
}

.elementor-col-33 .elementor-shortcode li a {
  color: #000000;
  font-size: 14px;
}

.elementor-col-33 .elementor-shortcode li a:hover {
  color: #1995A7;
  text-decoration: underline;
}

#registration .nf-next-previous li.nf-next-item {
  float: none;
  text-align: center;
}

.list-checkbox-wrap .nf-field-element li, .list-image-wrap .nf-field-element li, .list-radio-wrap .nf-field-element li {
  display: inline-block;
  width: 32%;
}

#edit-profile div.nf-field {
  direction: rtl;
  text-align: left;
}

#edit-profile div.nf-field * {
  direction: ltr;
}
#edit-profile div.nf-field input:focus-visible + #main .inside-article .nf-field-label{
  background-color: #1995A7;
}

.simplesocialbuttons {
  display: none;
}

/* GitHub embed syntax highlighting */
.ltag-github-readme-tag {
  position: relative;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.18);
  margin: 1.1em auto 1.3em;
  overflow: hidden;
  max-width: 620px;
}
.ltag-github-readme-tag .readme-overview {
  padding: 0.8em 0.5em;
  border-bottom: 1px solid #dbdbdb;
}
.ltag-github-readme-tag .readme-overview p {
  margin-bottom: 0;
}
.ltag-github-readme-tag .readme-overview h2 {
  font-weight: 400 !important;
  font-size: 1.2em !important;
  line-height: 1.3em !important;
  margin: 0em 0px 0.5em !important;
}
.ltag-github-readme-tag .readme-overview h2 img {
  width: 1.15em !important;
  max-width: 1.1em !important;
  display: inline-block;
  left: 0px;
  margin: 0;
  vertical-align: -0.18em;
  filter: invert(0);
  filter: var(--theme-social-icon-invert, invert(0));
}
.ltag-github-readme-tag .readme-overview h2 br {
  display: none;
}
.ltag-github-readme-tag .readme-overview h3 {
  font-weight: 400;
  margin: 0;
  margin-left: 0.15em;
  font-size: 0.9em;
  line-height: 1.05em;
}
.ltag-github-readme-tag .ltag-github-body {
  font-size: 0.72em;
  line-height: 1.12em;
  text-align: left;
  min-height: 100px;
  padding: 1em 0.5em;
  max-height: calc(21vw + 165px);
  overflow: hidden;
}
.ltag-github-readme-tag .ltag-github-body h1 {
  font-size: 1.75em;
  font-weight: 500;
}
.ltag-github-readme-tag .gh-btn-container {
  text-align: center;
}

/**
Event Calendar styles
*/
#tribe-events-pg-template {
	padding-top: 0;
}
.tribe-common.tribe-events.tribe-events-view .tribe-events-l-container {
  min-height: auto;
  padding-bottom: 0;
  padding-top: 0;
}
.tribe-common.event-tickets .tribe-tickets__rsvp-wrapper,
.tribe-community-events .tribe-section,
.tribe-community-events-list,
.tribe-events .datepicker,
.tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__list,
.single-tribe_events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__list {
  border-radius: var(--fro-border-radius-default);
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple,
.tribe-events-admin__recent-log-filters-select-wrapper .select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.event-tickets .tribe-tickets__rsvp {
  padding: var(--tec-grid-gutter-small-half);
}

@media (min-width: 768px) {
  .tribe-events-back {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 430px) {
  .ltag-github-body {
    max-height: calc(20vw + 153px);
  }
}

@media screen and (min-width: 800px) {
  .ltag-github-body {
      max-height: 310px;
  }
}

@media screen and (max-width: 599px) {
  .elementor-column-gap-default>.elementor-row>.elementor-column.unpadded>.elementor-column-wrap.elementor-element-populated {
    background-color: transparent;
    border: none;
    border-radius: 0;
  }
  .elementor-column-gap-default>.elementor-row>.elementor-column.unpadded .elementor-section .elementor-column .elementor-element-populated {
    padding: 0 15px;
  }
}

@media screen and (max-width: 899px) {
  #main .inside-article {
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 51px;
    padding-left: 26px;
    padding-right: 26px;
  }

  #main .inside-article .elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
    padding: 38px 0 44px 0;
  }

  .site-footer {
    margin-top: 0;
  }

  .list-checkbox-wrap .nf-field-element li, .list-image-wrap .nf-field-element li, .list-radio-wrap .nf-field-element li {
    width: 100%;
  }

}
