# Application
web/app/languages
web/app/plugins/*
!web/app/plugins/elementor-pro
!web/app/plugins/events-calendar-pro
!web/app/plugins/froware
!web/app/plugins/gp-premium
!web/app/plugins/ninja-forms-conditionals
!web/app/plugins/ninja-forms-mail-chimp
!web/app/plugins/ninja-forms-multi-part
!web/app/plugins/ninja-forms-post-creation
!web/app/plugins/the-events-calendar-community-events
!web/app/plugins/the-events-calendar-filterbar
!web/app/plugins/twig-anything
!web/app/plugins/ninja-forms-style
!web/app/plugins/wp-event-aggregator-pro
!web/app/plugins/wp-show-posts-pro
!web/app/plugins/wpematico_fullcontent
!web/app/plugins/wpematico_professional
web/app/mu-plugins/*
!web/app/mu-plugins/kinsta-mu-plugins
!web/app/mu-plugins/s3-endpoint.php
web/app/upgrade
web/app/uploads
!web/app/uploads/.gitkeep
web/app/themes
!web/app/themes/froware
web/app/cache

# WP Rocket
web/app/advanced-cache.php
web/app/wp-rocket-config

# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor
!vendor/.gitkeep

# Local install
clean-backup
sql

**/.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Logs
logs
*.log

# VS Code config
.editorconfig

# Local By Flywheel config
local-adminer-*.php

# PHPStorm config
.idea

# NPM
/node_modules