/* -----------------------------------------------------------------------------
 *
 * Filters
 *
 * ----------------------------------------------------------------------------- */

.tribe-filter-bar {

	.tribe-filter-bar__filters-container {

		.tribe-common--breakpoint-medium .tribe-filter-bar--horizontal& {
			position: absolute;
			z-index: var(--z-index-filters);
		}
	}
}
