/* -----------------------------------------------------------------------------
 *
 * Checkbox
 *
 * ----------------------------------------------------------------------------- */

.tribe-filter-bar {

	.tribe-filter-bar-c-checkbox {
		margin: var(--spacer-2) 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
