/* -----------------------------------------------------------------------------
 *
 * Clear Button
 *
 * ----------------------------------------------------------------------------- */

.tribe-filter-bar {

	.tribe-filter-bar-c-clear-button {
		align-items: baseline;
		display: flex;
		justify-content: center;

		.tribe-common--breakpoint-medium & {
			padding: 0;
		}
	}

	.tribe-filter-bar-c-clear-button__reset-icon {
		margin-right: var(--spacer-0);
		position: relative;
		top: 3px;
		width: 14px;

		path {
			stroke: currentColor;
		}
	}
}
