/* -----------------------------------------------------------------------------
 *
 * Radio
 *
 * ----------------------------------------------------------------------------- */

.tribe-filter-bar {

	.tribe-filter-bar-c-range__label {
		margin: 0 0 var(--spacer-2);
	}

	.tribe-filter-bar-c-range__slider {

		.ui-slider-handle {
			cursor: grab;

			&.ui-state-active {
				cursor: grabbing;
			}
		}
	}
}
