/* -----------------------------------------------------------------------------
 *
 * Filter
 *
 * ----------------------------------------------------------------------------- */

.tribe-filter-bar {

	.tribe-filter-bar-c-filter {
		border-top: 1px solid var(--color-border-secondary);
	}

	.tribe-filter-bar-c-filter__toggle,
	.tribe-filter-bar-c-filter--accordion .tribe-filter-bar-c-filter__toggle {
		font-weight: var(--font-weight-bold);
	}

	.tribe-filter-bar-c-filter__toggle-minus-icon,
	.tribe-filter-bar-c-filter__toggle-plus-icon {

		path {
			stroke: var(--color-icon-primary);
		}
	}

	/* These styles mirror the styles in `_pill.pcss` and override the mobile styles. */
	.tribe-common--breakpoint-medium & .tribe-filter-bar-c-filter--pill {
		border-top: none;

		.tribe-filter-bar-c-filter__toggle {
			@mixin desktop-body-3-sup;

			background-color: var(--color-background);
			border: 1px solid var(--color-icon-disabled);
			border-radius: 18px;
			font-weight: var(--font-weight-regular);

			&:hover,
			&:focus {
				background-color: var(--color-background-secondary);
				border-color: var(--color-icon-primary);
			}

			&:active {
				background-color: var(--color-background);
				border-color: var(--color-border-tertiary);
			}
		}

		&.tribe-filter-bar-c-filter--has-selections .tribe-filter-bar-c-filter__toggle {
			background-color: var(--color-background-secondary);
			border: 1px solid var(--color-icon-primary);
			font-weight: var(--font-weight-bold);

			&:hover,
			&:focus {
				background-color: var(--color-background-secondary-hover);
			}

			&:active {
				background-color: var(--color-background);
				border-color: var(--color-border-tertiary);
			}
		}

		.tribe-filter-bar-c-filter__remove-button {

			path {
				transition: var(--transition-opacity);
			}

			&:hover,
			&:focus {

				path {
					opacity: var(--opacity-icon-hover);
				}
			}
		}

		.tribe-filter-bar-c-filter__remove-button-icon {

			path {
				stroke: var(--color-icon-active);
			}
		}

		.tribe-filter-bar-c-filter__container {
			border: 1px solid var(--color-border-secondary);
			border-radius: var(--border-radius-default);
			box-shadow: var(--box-shadow-tooltip);
		}

		.tribe-filter-bar-c-filter__filters-close {

			&:hover,
			&:focus {

				.tribe-filter-bar-c-filter__filters-close-icon path {
					stroke: var(--color-icon-active);
				}
			}
		}

		.tribe-filter-bar-c-filter__filters-close-icon path {
			stroke: var(--color-icon-primary);
		}
	}

	/* -------------------------------------------------------------------------
	 *
	 * Filter: Theme Overrides
	 *
	 * ------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
	 * Theme Overrides - Twenty Seventeen
	 * ------------------------------------------------------------------------- */

	.tribe-theme-twentyseventeen & {

		.tribe-filter-bar-c-filter__toggle {

			&,
			&:hover,
			&:focus {
				background-color: transparent;
			}
		}

		.tribe-filter-bar-c-filter__filters-fieldset {
			background-color: transparent;
		}
	}
}
