/* -----------------------------------------------------------------------------
 *
 * Filters Slider
 *
 * ----------------------------------------------------------------------------- */

.tribe-filter-bar {

	.tribe-filter-bar__filters-slider-nav {

		&:before,
		&:after {
			height: 100%;
			position: absolute;
			top: 0;
			width: 60px;
		}
	}

	.tribe-filter-bar__filters-slider-nav--overflow-start {

		&:before {
			background: linear-gradient(-90deg, rgba(var(--color-background), 0) 15%, var(--color-background) 70%);
			content: '';
			left: -1px;
		}
	}

	.tribe-filter-bar__filters-slider-nav--overflow-end {

		&:after {
			background: linear-gradient(90deg, rgba(var(--color-background), 0) 15%, var(--color-background) 70%);
			content: '';
			right: 0;
		}
	}

	.tribe-filter-bar__filters-slider-nav-button {

		&:hover,
		&:focus {

			.tribe-filter-bar__filters-slider-nav-button-icon path {
				fill: var(--color-accent-secondary-hover);
			}
		}

		&:active {

			.tribe-filter-bar__filters-slider-nav-button-icon path {
				fill: var(--color-accent-secondary-active);
			}
		}
	}

	.tribe-filter-bar__filters-slider-nav-button-icon path {
		fill: var(--color-border-tertiary);
	}
}
