/* -----------------------------------------------------------------------------
 *
 * Filters
 *
 * ----------------------------------------------------------------------------- */

.tribe-filter-bar {

	.tribe-filter-bar__filters {
		border-bottom: 1px solid var(--color-border-secondary);

		.tribe-common--breakpoint-medium .tribe-filter-bar--horizontal& {
			border-bottom: none;
		}
	}
}
