/* -----------------------------------------------------------------------------
 *
 * Selections
 *
 * ----------------------------------------------------------------------------- */

.tribe-filter-bar {

	.tribe-common--breakpoint-medium &.tribe-filter-bar--vertical .tribe-filter-bar__selected-filters {
		border-top: 1px solid var(--color-border-secondary);
	}
}
