:root {
	/* -----------------------------------------------------------------------------
	 * Colors - Typography
	 * ----------------------------------------------------------------------------- */

	--color-text-primary: #141827;
	--color-text-primary-light: rgba(var(--color-text-primary), 0.62);
	--color-text-secondary: #5d5d5d;
	--color-text-disabled: #d5d5d5;

	/* -----------------------------------------------------------------------------
	 * Colors - Iconography
	 * ----------------------------------------------------------------------------- */

	--color-icon-primary: #5d5d5d;
	--color-icon-primary-alt: #757575;
	--color-icon-secondary: #bababa;
	--color-icon-active: #141827;
	--color-icon-disabled: #d5d5d5;
	--color-icon-focus: #334aff;
	--color-icon-error: #da394d;

	/* -----------------------------------------------------------------------------
	 * Colors - UI
	 * ----------------------------------------------------------------------------- */

	--color-accent-primary: #334aff;
	--color-accent-primary-hover: rgba(var(--color-accent-primary), 0.8);
	--color-accent-primary-active: rgba(var(--color-accent-primary), 0.9);
	--color-accent-primary-background: rgba(var(--color-accent-primary), 0.07);
	--color-accent-primary-multiday: rgba(var(--color-accent-primary), 0.24);
	--color-accent-primary-multiday-hover: rgba(var(--color-accent-primary), 0.34);
	--color-accent-primary-week-event: rgba(var(--color-accent-primary), 0.1);
	--color-accent-primary-week-event-hover: rgba(var(--color-accent-primary), 0.2);
	--color-accent-primary-week-event-featured: rgba(var(--color-accent-primary), 0.04);
	--color-accent-primary-week-event-featured-hover: rgba(var(--color-accent-primary), 0.14);
	--color-accent-secondary: #141827;
	--color-accent-secondary-hover: rgba(var(--color-accent-secondary), 0.8);
	--color-accent-secondary-active: rgba(var(--color-accent-secondary), 0.9);
	--color-accent-secondary-background: rgba(var(--color-accent-secondary), 0.07);

	/* -----------------------------------------------------------------------------
	 * Colors - Borders & Misc
	 * ----------------------------------------------------------------------------- */

	--color-border-default: #d5d5d5;
	--color-border-secondary: #e4e4e4;
	--color-border-tertiary: #7d7d7d;
	--color-border-hover: #5d5d5d;
	--color-border-active: #141827;
	--color-background: #fff;
	--color-background-transparent: rgba(var(--color-background), 0.6);
	--color-background-secondary: #f7f6f6;
	--color-background-messages: rgba(var(--color-text-primary), 0.07);
	--color-background-secondary-hover: #f0eeee;
	--color-background-error: rgba(var(--color-icon-error), 0.08);
	--color-box-shadow: rgba(#000, 0.14);
	--color-box-shadow-secondary: rgba(#000, 0.1);
	--color-scroll-track: rgba(#000, 0.25);
	--color-scroll-bar: rgba(#000, 0.5);
}
